@model List<Cadeteria.Models.Cadete>
@{
    ViewData["Title"] = "Listado";
}

<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CantPedidos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cadete in Model)
        {
            <tr>
                <td>@cadete.id</td>
                <td>@cadete.nombre</td>
                <td>@cadete.listadoPedidos.Count()</td>
            </tr>
        }
    </tbody>
</table>

<section class="botones">
    <section class="boton">
        <a href="AltaCadete">AltaCadete</a>
    </section>
</section>