@{
    ViewData["Title"] = "BajaCadete";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CantPedidos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cadete in Model)
        {
            <tr>
                <td>@cadete.id</td>
                <td>@cadete.nombre</td>
                <td>@cadete.listadoPedidos.Count()</td>
            </tr>
        }
    </tbody>
</table>
<h2>Ingrese la id a borrar</h2>
@using(Html.BeginForm("Borrar", "Listado", FormMethod.Post))
{
    <input type="text" name="id">
}
</div>